In [1]:
import pandas as pd
import collections

Below function is used to make a complete fips code from the given data

In [2]:
def fips_code(x):
    l=[]
    for i in x:
        if i <10:
            l.append("04000US0"+str(i))
        else:
            l.append("04000US"+str(i))
    return l

In [3]:

president=pd.read_csv("https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/42MVDX/MFU99O",delimiter="\t")

In [4]:
president.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
0,1976,Alabama,AL,1,63,41,US President,"Carter, Jimmy",democrat,False,659170,1182850,20171015,NaN
1,1976,Alabama,AL,1,63,41,US President,"Ford, Gerald",republican,False,504070,1182850,20171015,NaN
2,1976,Alabama,AL,1,63,41,US President,"Maddox, Lester",american independent party,False,9198,1182850,20171015,NaN
3,1976,Alabama,AL,1,63,41,US President,"Bubar, Benjamin \\""Ben\""\""""",prohibition,False,6669,1182850,20171015,NaN
4,1976,Alabama,AL,1,63,41,US President,"Hall, Gus",communist party use,False,1954,1182850,20171015,NaN

In [5]:
total=president.isnull().sum().sort_values(ascending=False)
percent=(president.isnull().sum()/president.isnull().count()).sort_values(ascending=False)
pd.concat([total,percent],keys=["Total","Percent"],axis=1)

                Total   Percent
notes            3740  1.000000
party             336  0.089840
candidate         266  0.071123
version             0  0.000000
totalvotes          0  0.000000
candidatevotes      0  0.000000
writein             0  0.000000
office              0  0.000000
state_ic            0  0.000000
state_cen           0  0.000000
state_fips          0  0.000000
state_po            0  0.000000
state               0  0.000000
year                0  0.000000

In [6]:
president[(president['candidate']=='Other')&(president['writein']==True)&(president['party'].isnull())]

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
2414,2004,Alabama,AL,1,63,41,US President,Other,NaN,True,898,1883415,20171015,NaN
2421,2004,Alaska,AK,2,94,81,US President,Other,NaN,True,790,312598,20171015,NaN
2425,2004,Arizona,AZ,4,86,61,US President,Other,NaN,True,2911,2012585,20171015,NaN
2438,2004,California,CA,6,93,71,US President,Other,NaN,True,20854,12421353,20171015,NaN
2483,2004,Georgia,GA,13,58,44,US President,Other,NaN,True,3085,3301875,20171015,NaN
2496,2004,Illinois,IL,17,33,21,US President,Other,NaN,True,4384,5274322,20171015,NaN
2500,2004,Indiana,IN,18,32,22,US President,Other,NaN,True,1495,2468002,20171015,NaN
2507,2004,Iowa,IA,19,42,31,US President,Other,NaN,True,1094,1506908,20171015,NaN
2514,2004,Kansas,KS,20,47,32,US President,Other,NaN,True,47,1187756,20171015,NaN
2520,2004,Kentucky,KY,21,61,51,US President,Other,NaN,True,22,1795882,20171015,NaN
2565,2004,Minnesota,MN,27,41,33,US President,Other,NaN,True,2532,2828387,20171015,NaN
2593,2004,Nebraska,NE,31,46,35,US President,Other,NaN,True,931,778186,20171015,NaN
2605,2004,New Hampshire,NH,33,12,4,US President,Other,NaN,True,965,678287,20171015,NaN
2624,2004,New York,NY,36,21,13,US President,Other,NaN,True,304,7448266,20171015,NaN
2634,2004,North Dakota,ND,38,44,36,US President,Other,NaN,True,9,312833,20171015,NaN
2638,2004,Ohio,OH,39,31,24,US President,Other,NaN,True,358,5627903,20171015,NaN
2677,2004,Tennessee,TN,47,62,54,US President,Other,NaN,True,39,2437319,20171015,NaN
2681,2004,Texas,TX,48,74,49,US President,Other,NaN,True,12341,7410749,20171015,NaN
2689,2004,Utah,UT,49,87,67,US President,Other,NaN,True,43,927844,20171015,NaN
2694,2004,Vermont,VT,50,13,6,US President,Other,NaN,True,957,312309,20171015,NaN
2701,2004,Virginia,VA,51,54,40,US President,Other,NaN,True,2521,3195415,20171015,NaN
2726,2004,Wyoming,WY,56,83,68,US President,Other,NaN,True,480,243861,20171015,NaN
3540,2016,Maryland,MD,24,52,52,US President,Other,NaN,True,10921,2781446,20171015,NaN

In [7]:
president.drop("notes",axis=1,inplace=True)
president['state_fips']=fips_code(president['state_fips'])
president.loc[(president['writein']==True),'candidate']="Other"
president.loc[(president['writein']==True),'party']="Other"
president.loc[(president['party']=="no party affiliation")&(president['candidate'].isnull()),'candidate']="Other"
president.loc[(president['party']=="other")&(president['candidate'].isnull()),'candidate']="Other"
president.loc[(president['party']=="other"),'party']="Other"
president.loc[(president['party']=="unenrolled")&(president['candidate'].isnull()),'candidate']="Other"
president.loc[(president['candidate'].isnull()),'candidate']="Unavailable"
president.loc[(president['year']==2012)&(president['candidate']=="Mitt, Romney")]="Romney, Mitt"
president.loc[((president['party'].isnull())&(president['candidate']=="Other")),'party']="Other"
president.loc[((president['candidate']=="Blank Vote")|(president['candidate']=="Blank Vote/Scattering")|(president['candidate']=="Blank Vote/Scattering/ Void Vote")|(president['candidate']=="Blank Vote/Void Vote/Scattering")|(president['candidate']=="Scattering")|(president['candidate']=="Void Vote")|(president['candidate']=="Over Vote")|(president['candidate']=="None Of The Above")|(president['candidate']=="None Of These Candidates")|(president['candidate']=="Not Designated")),'party']="Unavailable"
president.loc[((president['candidate']=="Blank Vote")|(president['candidate']=="Blank Vote/Scattering")|(president['candidate']=="Blank Vote/Scattering/ Void Vote")|(president['candidate']=="Blank Vote/Void Vote/Scattering")|(president['candidate']=="Scattering")|(president['candidate']=="Void Vote")|(president['candidate']=="Over Vote")|(president['candidate']=="None Of The Above")|(president['candidate']=="None Of These Candidates")|(president['candidate']=="Not Designated")),'candidate']="Blank Vote"

In [8]:
# total=president.isnull().sum().sort_values(ascending=False)
# percent=(president.isnull().sum()/president.isnull().count()).sort_values(ascending=False)
# pd.concat([total,percent],keys=["Total","Percent"],axis=1)

In [9]:
# president[(president['party'].isnull())]
president.shape

(3740, 13)

In [10]:
# president[president['candidate']=="None Of These Candidates"]
# president[president['party']=="unaffiliated"]
president.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version
0,1976,Alabama,AL,04000US01,63,41,US President,"Carter, Jimmy",democrat,False,659170,1182850,20171015
1,1976,Alabama,AL,04000US01,63,41,US President,"Ford, Gerald",republican,False,504070,1182850,20171015
2,1976,Alabama,AL,04000US01,63,41,US President,"Maddox, Lester",american independent party,False,9198,1182850,20171015
3,1976,Alabama,AL,04000US01,63,41,US President,"Bubar, Benjamin \\""Ben\""\""""",prohibition,False,6669,1182850,20171015
4,1976,Alabama,AL,04000US01,63,41,US President,"Hall, Gus",communist party use,False,1954,1182850,20171015

Below code can be used to find the % of votes recived by candidate, party in respective year and state

In [11]:
# temp=president[(president["year"]==2004)&(president['state_po']=="MA")]
temp=president[(president["year"]==2004)]
# temp.groupby(["candidate"])["totalvotes"].sum()
# j=temp['party'].unique()
x=temp['candidatevotes'].sum()
j=((temp.groupby(["candidate","party"])['candidatevotes'].sum()/x)*100).sort_values(ascending=False)
# print(x)
j

candidate          party
Bush, George W.    republican                       50.570486
Kerry, John        democrat                         46.955291
                   democratic-farmer-labor           1.181055
Badnarik, Michael  libertarian                       0.301847
Bush, George W.    conservative                      0.127155
Kerry, John        working families                  0.109134
Other              Other                             0.100210
Nader, Ralph       independent                       0.082337
Cobb, David        green                             0.078737
Nader, Ralph       independence                      0.073369
Blank Vote         Unavailable                       0.062491
Peroutka, Michael  constitution party                0.057888
Nader, Ralph       reform party                      0.056104
Other              independent                       0.048121
Peltier, Leonard   peace & freedom                   0.022564
Peroutka, Michael  american independent party        0.021778
Nader, Ralph       no party affiliation              0.019645
                   populist                          0.018875
                   better life                       0.015270
                   peace and justice                 0.012772
                   petitioning candidate             0.010600
                   unaffiliated                      0.009240
Cobb, David        green-rainbow                     0.008683
The Better Life,   independent                       0.006595
Calero, Roger      socialist workers                 0.006114
Peroutka, Michael  constitution party of florida     0.005416
Cobb, David        pacific green                     0.004344
Peroutka, Michael  u.s. taxpayers party              0.004070
Brown, Walt        socialist party of florida        0.002862
Peroutka, Michael  independent                       0.002369
Cobb, David        wisconsin green                   0.002175
Peroutka, Michael  american constitution party       0.002094
Harens, Thomas     christian freedom party           0.001951
Brown, Walt        united citizens                   0.001736
Peroutka, Michael  alaskan independence party        0.001710
Brown, Walt        protecting working families       0.001467
Calero, Roger      independent                       0.001307
Amondson, Gene     prohibition                       0.001280
Peroutka, Michael  concerned citizens                0.001261
Brown, Walt        natural law                       0.001251
Other              nebraska party                    0.001074
Peroutka, Michael  independent american              0.000942
Van Auken, Bill    socialist equality party          0.000898
Parker, John       workers world                     0.000880
Calero, Roger      socialist                         0.000805
Jay, Charles       personal choice                   0.000773
Nonpartisan        nonpartisan                       0.000691
Andress, Stanford  unaffiliated                      0.000657
Cobb, David        d.c. statehood green              0.000602
Amondson, Gene     concerns of people                0.000309
Parker, John       liberty union party               0.000217
Workers World      workers world                     0.000207
Brown, Walt        socialist                         0.000177
Dodge, Earl        prohibition                       0.000114
Name: candidatevotes, dtype: float64

In [12]:
president[president['year']==2016]["candidate"].unique()

array(['Trump, Donald J.', 'Clinton, Hillary', 'Johnson, Gary', 'Other',
       'Stein, Jill', 'Castle, Darrell L.',
       'De La Fuente, Roque \\\\"Rocky\\"\\""', 'McMullin, Evan',
       'Hedges, Jim', 'Kahn, Lynn S.', 'La Riva, Gloria Estella',
       'Blank Vote', 'Keniston, Chris', 'Kopitke, Kyle Kenley',
       'Maldonado, Joseph Allen', 'Maturen, Michael A.', 'Silva, Rod',
       'Hoefling, Tom', 'Kennedy, Alyson', 'Kotlikoff, Laurence',
       'Lyttle, Bradford', 'Atwood, Frank',
       'Emidio \\\\"Mimi\\"\\", Soltysik"', 'Hedges, James', 'Vacek, Dan',
       'Moorehead, Monica', 'Skewes, Peter', 'Unavailable'], dtype=object)

In [13]:
president[(president['year']==2016)&(president['candidate']=='Emidio \\\\"Mimi\\"\\", Soltysik"')]

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version
3449,2016,Colorado,CO,04000US08,84,62,US President,"Emidio \\""Mimi\""\"", Soltysik""",socialist party usa,False,271,2780220,20171015
3557,2016,Michigan,MI,04000US26,34,23,US President,"Emidio \\""Mimi\""\"", Soltysik""",natural law,False,2209,4799284,20171015

In [14]:
candidate_details=pd.read_csv("https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3.us-gov-west-1.amazonaws.com/c7da9e486a631e8ba0766e118b658c5ecbab4e9d55754288eaa4c6b9.csv?response-content-disposition=filename%3Dcandidates-2019-07-10T11%3A55%3A09.csv&AWSAccessKeyId=AKIAR7FXZINYMI3G4BRV&Signature=yEst2Egv5OTWlJpmLURvq1ZWQUY%3D&Expires=1563378915")
fec=candidate_details.loc[:,['name','party_full','election_years','candidate_id']]
fec.head()

,name,party_full,election_years,candidate_id
0,"PASCARELLA, ANTHONY",REPUBLICAN PARTY,{2028},P80006125
1,"KLOBUCHAR, AMY J.",DEMOCRATIC PARTY,{2020},P80006117
2,"HAFNER, CAROL",DEMOCRATIC PARTY,{2018},P80006091
3,"DE LA TORRE, CHRIS MERRILL MR. SR.",WRITE-IN,{2018},P80006067
4,"FOWLER, DEAN LEIGH",WE THE PEOPLE,{2018},P80006059

Below function is used to expand the election_year in the fec data such as {1984,1988} for Sagan Cyrile E to Sagan Cyrile for year 1984 and 1988 in seperate columns

In [15]:
def eyear(nd):
    l=[]
    for index,row in nd.iterrows():
        i=row.values
        t=i[2]
        j=t.strip('{').strip('}').split(',')
        for x in j:
            l.append([i[0],i[1],int(x),i[3]])
    return l

In [16]:
fec=pd.DataFrame(eyear(fec))
fec.columns=["candidate_name","party","year","candidate_id"]
fec=fec[(fec["year"]>=1976) &(fec['year'] <=2016)]

In [17]:
pl=president["candidate"].unique()
pl=[i.replace('"','').replace('\\','').lower() for i in pl]
# pl=[i.lower() for i in pl]
fecl=fec["candidate_name"].unique()
fecl=[i.replace('"','').lower() for i in fecl]
# fecl=[i.lower() for i in fecl]

In [18]:
result=pd.merge(pd.DataFrame(pl),pd.DataFrame(fecl),how='outer')
result.shape

(3868, 1)

Below code is to simply the name and make it of two strings so, any name like mccarthy, eugene \\\\"gene\\"\\"" to eugene mccarthy

In [19]:
def modify(x):
    if x in ["Balnk Vote","Other"]:
        return x
    sl=x.strip('\\').strip('"').split(',')
    sl.reverse()
    s=""
    for temp in sl:
        t=temp.strip().split(" ")
        s=s+t[0]+" "
    return s.strip()

In [20]:
print(modify('mccarthy, eugene \\\\"gene\\"\\""'))

eugene mccarthy

Below function is used to find the substring in a subsequent format if available that is it checks if bush, george is same as bush, george h.w.

In [21]:
def subsequence(s1,s2,m,n):
    b=0
    a=0
    while b<m and a<n:
        if s1[b]==s2[a]:
            b+=1
        a+=1
    return b==m

Below code is to identify the similar names of candidate from fec data list

In [22]:
x=[modify(i) for i in fecl]
l=[]
for i in pl:
    if modify(i) not in x:
        l.append([i,""])
        continue
    f=0
    for j in fecl:
        if i==j:
            l.append([i,j])
            break
        elif subsequence(i,j,len(i),len(j)) or subsequence(j,i,len(j),len(i)):
            l.append([i,j])
        else:
            f+=1
    if f>=len(fecl):
        l.append([i,""])
l=pd.DataFrame(l)
l.head(20)

                        0                                 1
0           carter, jimmy      carter, james (jimmy) harlin
1           carter, jimmy                     carter, jimmy
2            ford, gerald  ford, gerald r (not a candidate)
3          maddox, lester           maddox, lester garfield
4     bubar, benjamin ben
5               hall, gus                         hall, gus
6         macbride, roger
7                   other
8   mccarthy, eugene gene                    mccarthy, gene
9           camejo, peter         camejo, peter miguel (vp)
10    anderson, thomas j.
11            unavailable
12       wright, margaret
13  larouche, lyndon, jr.
14             blank vote
15    julius jules, levin
16         zeidler, frank
17         reagan, ronald                    reagan, ronald
18      anderson, john b.                  anderson, john b
19           rarick, john                    rarick, john r

In [23]:
l.shape

(174, 2)

In [24]:
len(pl)

166

In [25]:
print(l.loc[:,[0,1]].values)

[['carter, jimmy' 'carter, james (jimmy) harlin']
 ['carter, jimmy' 'carter, jimmy']
 ['ford, gerald' 'ford, gerald r (not a candidate)']
 ['maddox, lester' 'maddox, lester garfield']
 ['bubar, benjamin ben' '']
 ['hall, gus' 'hall, gus']
 ['macbride, roger' '']
 ['other' '']
 ['mccarthy, eugene gene' 'mccarthy, gene']
 ['camejo, peter' 'camejo, peter miguel (vp)']
 ['anderson, thomas j.' '']
 ['unavailable' '']
 ['wright, margaret' '']
 ['larouche, lyndon, jr.' '']
 ['blank vote' '']
 ['julius jules, levin' '']
 ['zeidler, frank' '']
 ['reagan, ronald' 'reagan, ronald']
 ['anderson, john b.' 'anderson, john b']
 ['rarick, john' 'rarick, john r']
 ['clark, edward ed' 'clark, edward e']
 ['deberry, clifton' '']
 ['mcreynolds, david' 'mcreynolds, david']
 ['commoner, barry' 'commoner, barry']
 ['griswold, deirdre' 'griswold, deirdre']
 ['smith, maureen' '']
 ['pulley, andrew' 'pulley, andrew']
 ['greaves, percy l, jr.' '']
 ['shelton, frank, jr.' '']
 ['mccormack, ellen' 'mccormack, ellen']
 ['lynen, kurt' 'lynen, kurt']
 ['gahres, william bill' '']
 ['wendelken, martin e.' '']
 ['mclain, harley' '']
 ['congress, richard' '']
 ['mondale, walter' 'mondale, walter f']
 ['bergland, david' 'bergland, david']
 ['richards, bob' 'richards, bob']
 ['mason, melvin' '']
 ['serrette, dennis' 'serrette, dennis l']
 ['johnson, sonia' 'johnson, sonia']
 ['dodge, earl' '']
 ['lowery, arthur' '']
 ['dennis, delmar' 'dennis, delmar daniel']
 ['holmes, larry' 'holmes, larry']
 ['winn, edward' '']
 ['baker, gerald' 'baker, gerald l']
 ['bush, george h.w.' 'bush, george w']
 ['bush, george h.w.' 'bush, george']
 ['dukakis, michael' 'dukakis, michael s']
 ['paul, ronald ron' '']
 ['fulani, lenora' 'fulani, lenora b']
 ['kenoyer, willa' 'kenoyer, willa']
 ['warren, james mac' 'warren, james mac']
 ['duke, david' 'duke, david e']
 ['herer, jack' '']
 ['herberg g., lewin' '']
 ['marra, william a.' '']
 ['youngkeit, louie g.' '']
 ['clinton, bill' 'clinton, bill']
 ['perot, ross' 'perot, ross']
 ['marrou, andre' 'marrou, andre v']
 ['gritz, james bo' 'gritz, james bo']
 ['hagelin, john' 'hagelin, john samuel']
 ['phillips, howard' 'phillips, howard']
 ['daniels, ron' '']
 ['prohibition' '']
 ['unaffiliated' '']
 ['daniels, ronald' 'daniels, ronald']
 ['yiamouyiannis, john' 'yiamouyiannis, john andrew']
 ['brisben, j. quinn' '']
 ['halyard, helen' 'halyard, helen']
 ['bradford, drew' '']
 ['haylard, helen' '']
 ['la riva, gloria estella' 'la riva, gloria estela']
 ['la riva, gloria estella' 'lariva, gloria estela']
 ['hem, roland' '']
 ['dole, robert' 'dole, robert j']
 ['browne, harry' 'browne, harry']
 ['nader, ralph' 'nader, ralph']
 ['forbes, ralph' '']
 ['collins, charles' 'collins, charles e']
 ['masters, isabell' 'masters, isabell dr phd']
 ['moorehead, monica' 'moorehead, monica gail']
 ['hollis, mary cal' 'hollis, mary cal']
 ['feinland, marsha' '']
 ['templin, diane' 'templin, diane beall']
 ['harris, james' 'harris, james e jr']
 ['harris, james' 'harris, james']
 ['white, jerome jerry' '']
 ['peron, dennis' '']
 ['birrenback, john' '']
 ['crane, peter' '']
 ['bush, george w.' 'bush, george w']
 ['bush, george w.' 'bush, george']
 ['gore, al' 'gore, al']
 ['buchanan, patrick pat' '']
 ['l. neil, smith' '']
 ['dennis denny, lane' '']
 ['kerry, john' 'kerry, john f']
 ['peroutka, michael' 'peroutka, michael anthony']
 ['badnarik, michael' 'badnarik, michael']
 ['cobb, david' 'cobb, david keith']
 ['peltier, leonard' '']
 ['andress, stanford' '']
 ['amondson, gene' '']
 ['van auken, bill' '']
 ['calero, roger' 'calero, roger']
 ['brown, walt' '']
 ['the better life,' '']
 ['harens, thomas' '']
 ['nonpartisan' '']
 ['workers world' '']
 ['jay, charles' '']
 ['parker, john' 'parker, john stanley']
 ['parker, john' 'parker, john thompson']
 ['mccain, john' 'mccain, john s.']
 ['obama, barack h.' 'obama, barack / joseph r. biden']
 ['baldwin, charles chuck' '']
 ['barr, bob' 'barr, bob']
 ['mckinney, cynthia' 'mckinney, cynthia']
 ['keyes, alan' 'keyes, alan l']
 ['mcenulty, frank' 'mcenulty, frank edward']
 ['allen, jonathan' 'allen, jonathan edward']
 ['stevens, thomas r.' '']
 ['moore, brian' 'moore, brian patrick']
 ['lyttle, bradford' 'lyttle, bradford']
 ['weill, ted' 'weill, ted']
 ['boss, jeffery' '']
 ['wamboldt, jeffrey' '']
 ['romney, mitt' 'romney, mitt / paul d. ryan']
 ['johnson, gary' 'johnson, gary / william bill weld']
 ['stein, jill' 'stein, jill']
 ['barr, roseanne' 'barr, roseanne']
 ['hoefling, thomas conrad tom' 'conrad']
 ['hoefling, thomas conrad tom' 'hoefling, thomas']
 ['goode, virgil hamlin, jr.' '']
 ['reed, jill ann' 'reed, jill ann']
 ['anderson, ross carl rocky' '']
 ['tittle, sheila samm' 'tittle, sheila samm']
 ['alexander, stewart' 'alexander, stewart alexis']
 ['miller, merlin' 'miller, merlin']
 ['stevens, thomas robert tom' 'stevens, thomas robert']
 ['white, jerry' '']
 ['barnett, andre' 'barnett, andre n']
 ['lindsay, peta' 'lindsay, peta']
 ['terry, randall' 'terry, randall a']
 ['fellure, lowell jackson jack' 'fellure, lowell jackson']
 ['carlson, jim' 'carlson, jim']
 ['morstad, dean' 'morstad, dean']
 ['washer, barbara dale' 'washer, barbara dale']
 ['duncan, richard' 'duncan, richard']
 ['christensen, will' 'christensen, will']
 ['trump, donald j.' 'trump, donald j.']
 ['clinton, hillary' 'clinton, hillary rodham / timothy michael kaine']
 ['castle, darrell l.' '']
 ['de la fuente, roque rocky' 'de  la  fuente, roque rocky']
 ['mcmullin, evan' 'mcmullin, evan / mindy finn']
 ['hedges, jim' '']
 ['kahn, lynn s.' '']
 ['keniston, chris' '']
 ['kopitke, kyle kenley' 'kopitke, kyle kenley doctor']
 ['maldonado, joseph allen' 'maldonado, joseph a']
 ['maturen, michael a.' '']
 ['silva, rod' 'silva, rod mr.']
 ['silva, rod' 'silverman, fred (not a candidate)']
 ['hoefling, tom' '']
 ['kennedy, alyson' 'kennedy, alyson']
 ['kotlikoff, laurence' 'kotlikoff, laurence j']
 ['atwood, frank' 'atwood, frank']
 ['emidio mimi, soltysik' '']
 ['hedges, james' 'hedges, james arthur']
 ['vacek, dan' 'vacek, dan r.']
 ['skewes, peter' 'skewes, peter alan ph.d.']]

Below code is to convert the compared data into the csv files to fill in the missing values manually

In [26]:
l.to_csv("fec_mit_comparison.csv")

In [27]:
l[l[1]==""].count()

0    67
1    67
dtype: int64

In [28]:
test=pd.read_excel("Desktop/fec_mit.xlsx")
test.head()

              Mit_data                          Fec_data
0        carter, jimmy                     carter, jimmy
1         ford, gerald  ford, gerald r (not a candidate)
2       maddox, lester           maddox, lester garfield
3  bubar, benjamin ben                     bubar, benj c
4            hall, gus                         hall, gus

In [29]:
president["party"].describe()

count           3740
unique           148
top       republican
freq             560
Name: party, dtype: object

In [30]:
hm={}
for index,row in test.iterrows():
    hm[row[0]]=row[1]

In [31]:
fec.head()

               candidate_name             party  year candidate_id
21        SIMS, GREGORY EVANS  REPUBLICAN PARTY  2016    P80005838
24  TRACKWELL, BYRON LEE (VP)             OTHER  2008    P80005812
25             WYATT, AMY LOU              NONE  2008    P80005804
26            GERMALIC, JAMES       INDEPENDENT  2008    P80005796
27        BEIL, JAMES FRANCIS           UNKNOWN  2008    P80005788

In [32]:
candidate_details["name"]=[i.replace('"','').lower() for i in candidate_details["name"].values]

In [33]:
candidate_details.head()

,name,office,office_full,party,party_full,state,district,district_number,election_districts,election_years,...,incumbent_challenge,incumbent_challenge_full,load_date,first_file_date,last_file_date,last_f2_date,candidate_id,active_through,candidate_inactive,inactive_election_years
0,"pascarella, anthony",P,President,REP,REPUBLICAN PARTY,US,0,0,{00},{2028},...,NaN,NaN,2019-06-06 21:07:24,2019-06-06,2019-06-06,2019-06-06,P80006125,2028,f,NaN
1,"klobuchar, amy j.",P,President,DEM,DEMOCRATIC PARTY,US,0,0,{00},{2020},...,C,Challenger,2019-05-16 21:09:24,2019-02-11,2019-02-19,2019-02-19,P80006117,2020,f,NaN
2,"hafner, carol",P,President,DEM,DEMOCRATIC PARTY,US,0,0,{00},{2018},...,C,Challenger,2019-03-01 21:11:59,2018-11-17,2018-12-18,2018-11-17,P80006091,2018,f,NaN
3,"de la torre, chris merrill mr. sr.",P,President,W,WRITE-IN,US,0,0,{00},{2018},...,C,Challenger,2018-08-02 21:22:08,2018-07-16,2018-07-26,2018-07-16,P80006067,2018,f,NaN
4,"fowler, dean leigh",P,President,WTP,WE THE PEOPLE,US,0,0,{00},{2018},...,C,Challenger,2018-07-02 21:13:49,2018-06-27,2018-07-27,2018-06-27,P80006059,2018,f,NaN

In [34]:
id_list=[]
for i in president["candidate"]:
    t=i.replace('"','').replace('\\','').lower()
    if t in hm:
        t=candidate_details[candidate_details["name"]==hm[t]]["candidate_id"].values
        if len(t)!=0:
            id_list.append(t[0])
        else:
            id_list.append("P99999999")
    else:
        id_list.append("P99999999")

In [35]:
president["candidate_id"]=id_list
president.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,candidate_id
0,1976,Alabama,AL,04000US01,63,41,US President,"Carter, Jimmy",democrat,False,659170,1182850,20171015,P60000247
1,1976,Alabama,AL,04000US01,63,41,US President,"Ford, Gerald",republican,False,504070,1182850,20171015,P60000338
2,1976,Alabama,AL,04000US01,63,41,US President,"Maddox, Lester",american independent party,False,9198,1182850,20171015,P60002375
3,1976,Alabama,AL,04000US01,63,41,US President,"Bubar, Benjamin \\""Ben\""\""""",prohibition,False,6669,1182850,20171015,P00002949
4,1976,Alabama,AL,04000US01,63,41,US President,"Hall, Gus",communist party use,False,1954,1182850,20171015,P60001393

In [36]:
# temp=president[(president["year"]==2016)&(president['state_po']=="MA")]
temp=president[(president["year"]==2004)]
# temp.groupby(["candidate"])["totalvotes"].sum()
# j=temp['party'].unique()
x=temp['candidatevotes'].sum()
j=((temp.groupby(["candidate_id"])['candidatevotes'].sum()/x)*100).sort_values(ascending=False)
# print(x)
j

candidate_id
P00003335    50.697641
P80000235    48.245480
P40002537     0.301847
P20000527     0.298212
P99999999     0.247935
P40003261     0.097528
P40003097     0.094541
P80005481     0.008226
P40003337     0.007493
P40003451     0.001097
Name: candidatevotes, dtype: float64